<!-- <ion-header [translucent]="trues">
  <ion-toolbar>
    <ion-icon name="heart" slot="start" style="margin: 0.4em;" size="large"></ion-icon>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes Rappels</ion-title>
  </ion-toolbar>
</ion-header>

<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; height: 100%; width: 100%; overflow: hidden;">

  <h1 style="color: var(--ion-color-dark)">Page "Mes Rappels"</h1>

  <ion-buttons>
    <ion-button color="success" fill="solid" size="large" (click)="goAnOtherPage('/tabs/tab2')">Nav Button for tests</ion-button>
  </ion-buttons>

</div> -->

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon name="alarm-outline" slot="start" style="margin: 0.4em;" size="large"></ion-icon>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button> 
      </ion-buttons>
      <ion-title>Mes rappels</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div id="CONTENT" style="min-height: 100%; width: 100%; display: flex;
      flex-direction: column; align-items: center;">
      
      <!-- {{ calendar }} -->

      <!-- <iq-calendar-week-hours-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            [hourSegments]="2"
            [dayStartHour]="8"
            [dayEndHour]="20"
            (eventClicked)="eventClicked($event)"
            (hourSegmentClicked)="hourSegmentClicked($event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            [refresh]="refresh">
        </iq-calendar-week-hours-view> -->

        <mwl-calendar-week-view [viewDate]="viewDate" [daysInWeek]="daysInWeek" [hourSegments]="1" [dayStartHour]="6" [dayEndHour]="22" [events]="events" style="width: 100%;">
          <!-- [days]="[Lundi, Mardi, Mercredi, Jeudi, Vendredi, Samedi, Dimanche]"  -->
        </mwl-calendar-week-view>

    </div>
  </ion-content>
</div>