<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mes Rappels
    </ion-title>
  </ion-toolbar>
</ion-header>

<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; height: 100%; width: 100%; overflow: hidden;">

  <h1 style="color: white">Page "Mes Rappels"</h1>

  <ion-buttons>
    <ion-button color="success" fill="solid" size="large" (click)="goAnOtherPage('/tabs/tab2')">Nav Button for tests</ion-button>
  </ion-buttons>

</div>