<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon name="alarm-outline" slot="start" style="margin: 0.4em;"
        size="large"></ion-icon>
        <!-- <ion-button color="light" slot="end" (click)="switch()"><ion-icon name="calendar-sharp" size="large" class="animated slow swing infinite"></ion-icon></ion-button> -->
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mes rappels</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- <ion-button (click)="switch()" color="light" expand="block"
    style="margin: 1.4em;">TOUCH-ME</ion-button> -->

  <ion-content class="ion-padding" *ngIf="checkStep('calendar')">
    <div id="CONTENT" style="width: 100%; display: flex; flex-direction: column;
      align-items: center; animation-duration: 0.5s;" class="animated slideInUp">
      <mwl-calendar-week-view [viewDate]="viewDate" [daysInWeek]="daysInWeek"
        [hourSegments]="1" [dayStartHour]="6" [dayEndHour]="22"
        [events]="events" [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)" style="width: 100%;">
      </mwl-calendar-week-view>
    </div>
  </ion-content>

  <ion-content *ngIf="checkStep('list')" class="animated slideInDown" style="animation-duration: 0.5s;">
    <ion-list style="margin-bottom: 10vh;"> 
      <ion-item *ngFor="let prise of prisesListe" style="width: 100%; animation-duration: 0.5s;" class="animated slideInRight">
        <!-- <ion-icon slot="end" name="chevron-forward-outline"
          (click)="this.gsbMainService.alertInfo('TITRE', 'INFO')"></ion-icon> -->
          <ion-toggle slot="end" [(ngModel)]="prise.pris"></ion-toggle>
        <ion-label>
          <h2 style="font-size: large">{{ prise.event.title }}</h2>
          <!-- <p style="font-size: ridiculous;">({{ prise.datePrise.toLocaleString() }})</p> -->
          <p style="font-size: ridiculous;">({{ printDate(prise.datePrise) }})</p>
          <!-- <p style="font-size: ridiculous;">({{ prise.datePrise.format("mm/dd/yy h:MM:ss TT") }})</p> -->
        </ion-label>
      </ion-item>
      <ion-item style="width: 100%;">
        <ion-toggle slot="end" [(ngModel)]="sausage" disabled="true"></ion-toggle>
        <ion-label>
          <h2 style="font-size: large">. . .</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="switch()">
        <ion-fab-button color="dark">
          <ion-icon name="calendar-sharp" size="large" class="animated slow swing"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
        </ion-fab-list>
      </ion-fab>

</div>