<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon name="person" slot="start" style="margin: 0.4em;" size="large"></ion-icon>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mon Compte</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div id="CONTENT" style="min-height: 100%; width: 100%; display: flex;
      flex-direction: column; align-items: center; justify-content: center;">
      <!-- <h1>Mon compte</h1> -->
      <ion-button (click)="DELETE_ME()">
        Send notification
      </ion-button>
    </div>
  </ion-content>
</div>